<li id="list-email-<%= email.id %>" > 
  <a href="email/<%= email.id %>" data-method="GET" data-remote="true" style="font-weight:<%= email.read ? 'normal' : 'bold' %>">
    <% if email.object.length > 22 %> 
      Object : <%= email.object.to_s[0..22] + '...' %>
    <% else %>
      Object : <%= email.object.to_s[0..80] %>
    <% end %>
  </a >
  <a href="email/<%= email.id %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt float-right"></i></a>
  <a href="email/<%= email.id %>" data-method="GET" data-remote="true"><i class="fas fa-envelope float-right"></i></a>
  <br> <hr>
</li>
