<div class="container-fluid">
  <div class="row">


    <div class="col-6">
     
      <div class="card">
        <div class="card-header">
          <h1>Liste des emails :<br>
          <a type="button" class="btn btn-primary receive_email" href="email" data-method="POST" data-remote="true">Recevoir un email</a>
          <a type="button" class="btn btn-danger" href="email" method="DELETE">Supprimer</a>
          </h1>
        </div><br>
          <ul id="list-email">
            <% @emails.each do |email| %>
              <li id="list-email-<%= email.id %>" > <a href="email/<%= email.id %>" data-method="GET" data-remote="true" style="font-weight:<%= email.read ? 'normal' : 'bold' %>"> Object : <%= email.object %> | <%= email.read %> </a>
              <a href="email/<%= email.id %>" data-method="DELETE" data-remote="true"><i class="fas fa-trash-alt"></i></a> 
              <br> <br>
              </li>
            <% end %>
          </ul>
      </div>

    </div>

    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <h1>Email sélectionné :</h1>
        </div><br>
          <ul id="email-selected" >
          </ul>
      </div>

    </div>